html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

h1 {
    position: relative;
    margin-top: 165px;
    padding: 25px;
    text-align: center;
}

h3 {
  position: relative;
  text-align: center;
}

h4 {
  padding: 5px;
  text-align: center;
}

h5{
  position: relative;
  margin-top: 10px;
  padding: 15px;
  text-align: center;
}

.input-group {
  position: relative;
  margin-left: 900px;
  margin-right: 905px;
}
